<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="ServerIP" value="10.112.179.196"/>
    <add key="globalapiuri" value="http://{0}:5890/paip.svc" />
    <add key="CRESapiUri" value="http://{0}:5880/cresapi.svc" />
  </appSettings>
    <system.serviceModel>
        <client>
            <endpoint address="http://10.112.179.196:5880/cresapi.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICRESapi" contract="cressvc.ICRESapi"
                name="BasicHttpBinding_ICRESapi" />
        </client>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICRESapi" />
            </basicHttpBinding>
        </bindings>
    </system.serviceModel>
</configuration>
