<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <appSettings>
      <add key="SleepInterval" value="1440"/>
      <add key="EnableRestful" value="1"/>
      <add key="APIUri" value ="net.tcp//10.112.179.196:8080/PerceiverAPI"/>
      <add key="DBConnStr" value="Data Source=10.112.179.196;Initial Catalog=SCBCRP_ICDD; Persist Security Info=True;User ID=sa;Password=Scope2014;Connect Timeout=900;" />
    </appSettings>
</configuration>
