<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISpaceProbe" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.112.179.196:8080/ProbeAPI" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISpaceProbe" contract="probeAPI.ISpaceProbe"
                name="BasicHttpBinding_ISpaceProbe" />
        </client>
    </system.serviceModel>
</configuration>
